body {
  font-family: 'Inconsolata', monospace;
  background-color: black;
  max-width: 500px;
  overflow: hidden;
  margin: 15% auto;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@font-face {
  font-family: Garamond;
  src: url(garamond_italic.ttf);
}

h1 {
  font-weight: normal;
}

p {
  font-size: 20px;
  font-weight: normal;
}

.text-center {
  text-align: center;
}

.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 0ms ease-in;
}

.fade-in-out {
    opacity: 1;
    animation: fade-in-out 2s ease-in-out infinite;
}

@keyframes fade-in-out {
  0%, 100% { opacity: 0 }
  50% { opacity: 1 }
}

input, textarea {
  margin-top: 20px;
  padding: 0;
  width: 100%;
  font-family: 'Garamond', serif;
  font-style: italic;
  font-size: 20px;
  color: white;
  border: 0;
  outline: 0;
  outline: none;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  resize: none;
}

#previous-answers {
  text-align: right;
  font-size: 12px;
  margin-top: 10px;
}

.button {
  margin-top: 50px;
  position: relative;
}

.button:hover, .disabled {
  opacity: 0.5;
  transition: 0.3s;
}

.disabled>div {
  cursor: default;
}

.skip, .submit, .instruction {
  display: inline-block;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 5px;
  position: absolute;
  text-align: center;
}

.skip {
  padding: 8px 12px 9px 12px;
  right: 50px;
}

.submit {
  padding: 5px 10px;
  font-size: 20px;
  font-family: serif;
  right: 0px;
}

.instruction {
  padding: 8px 12px 9px 12px;
  right: 0px;
}

